@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

:root {
    --text-secondary: #9a9a9a;
    --font-app: "Lato", sans-serif;
}

:root {
    --theme-color: #e40000;
    --primary-color: #02407a;
    --primary-light: #fcf1e7;
    --primary-dark: #013565;
    --secondary-color: #253a69;
    --font-color: #6b6768;
    --bg-color: #fff;
    --bg-color-2: #0467c2;
    --bg-color-3: #02407a;
    --heading-color: #060606;
    --footer-color: #161623;
    --border-radius: 30px;
    --border-radius-full: 15px;
    --border-color: transparent;
    --border-color-light: #ddd;
    --iframe-filter: grayscale(0%);
    --bg-grey: #f4f4f4;
    --bg-light: #f4fdf8;
    --btn-bg: #e2e8f0;
    --header-bg-color: rgb(243 243 243 / 14%);
    --header-border-color: rgb(255 255 255 / 39%);
    --grey: #f2f2f2;
}

[data-theme="dark"] {
    --theme-color: #e40000;
    --primary-color: #02407a;
    --primary-light: #0467c2;
    --secondary-color: #253a69;
    --primary-dark: #00070c;
    --font-color: #b7b7b7;
    --bg-color: #131617;
    --bg-color-2: #131617;
    --bg-color-3: #131617;
    --heading-color: #fdfffc;
    --footer-color: #161623;
    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-light: rgba(255, 255, 255, 0.2);
    --iframe-filter: grayscale(100%);
    --bg-grey: #0b0d0e;
    --bg-light: #111;
    --btn-bg: #2a2a2a;
    --header-bg-color: #131617;
    --header-border-color: #131617;
    --grey: #131617;
}
[data-theme="dark"] .story-img {
    scroll-snap-align: center;
    border-radius: 12px;
    margin: 12px;
    border: 1px solid #1c3e8d;
    background: #1c3e8d;
    color: white;
}

[data-theme="dark"] .story-img:hover {
    color: white;
    background: none;
    border: 1px solid white;
}

[data-theme="dark"] .form-control,
textarea {
    /* max-width: 400px; */
    background-color: #00070c;
    /* color: var(--bg-color);
     */
    color: white;
    letter-spacing: 1px;
}

html,
body,
html::after,
html::before,
body::after,
body::before {
    font-family: var(--font-app), sans-serif !important;
}

.color-black {
    color: #00070c;
}

.section-title {
    font-family: var(--font-app), sans-serif !important;

    padding-bottom: 40px;

    font-size: 35px;
    line-height: 40px;
    margbottom: 6px;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

/*MARCA */
.marca-descripcion {
    background-color: var(--grey);
    padding: 90px 40px;
    z-index: 1;
}

.marca-imagen {
    background: url(../assets/images/agricultor-marca.jpg) repeat var(--grey)
        left center;
    background-size: cover;
    overflow: hidden;
}

.marca-descripcion span {
    padding-top: 40px;
    padding-bottom: 40px;
}
.boton-enlace {
    padding-top: 30px;
    color: rgb(191, 142, 75);
    border-color: #f2d16d;
    border-width: 3px;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0.25em;
    display: block;
    border-width: 2px !important;
}
.hangover-bottle {
    z-index: 2;
    position: absolute;
    top: 74px;
    right: -86px;
}

.circulo-mochica {
    z-index: 0;
    position: absolute;
    top: 18px;
    left: -192px;
    width: 350px;
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 42s infinite linear;
}

.text-color {
    color: #1c3e8d !important;
}

@media (max-width: 576px) {
    .hangover-bottle {
        display: none;
    }
}

@media (max-width: 768px) {
    .hangover-bottle {
        display: none;
    }
}
/*
    ================================
            SECCIÓN HISTÓRICA
    ================================
*/

.main-button {
    position: absolute;
    top: 97%;
    left: 0;
    right: 0;
    width: 224px;
    margin-left: auto;
    margin-right: auto;
    background-color: #253a69;
}

.blockquote {
    border-left: none;
    border: 2px solid var(--secondary-color);
    padding: 10px;
    font-size: 1.1em;
    line-height: 1.8;
}

.title {
    font-weight: 700;
    padding-top: 30px;
    font-family: var(--font-app);
}

.description {
    color: var(--text-secondary);
    font-weight: 300;
}

.main-text-color {
    color: var(--secondary-color);
}

.section {
    padding: 20px 0;
    position: relative;
}

.section .row + .category {
    margin-top: 15px;
}

.section-story-overview {
    padding: 50px 0;
}

.section-story-overview .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
}

.section-story-overview .image-container + .category {
    padding-top: 15px;
}

.section-story-overview .image-container.image-right {
    z-index: 2;
}

.section-story-overview .image-container.image-right + h3.title {
    margin-top: 120px;
}

.section-story-overview .image-container.image-left {
    z-index: 1;
}

.section-story-overview .image-container:nth-child(2) {
    margin-top: 450px;
}

.section-story-overview p.blockquote {
    /* width: 320px; */
    min-height: 180px;
    text-align: left;
    position: absolute;

    top: 376px;
    /* right: 155px; */
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .image-container.image-right {
        top: 80px;
        margin-left: -100px;
        margin-bottom: 130px;
    }

    .image-container.image-left {
        margin-right: -25px;
    }
}

@media screen and (max-width: 768px) {
    .section-story-overview .image-container {
        background-size: cover;
    }
    .image-container.image-left {
        margin-bottom: 220px;
    }

    .image-container.image-left p.blockquote {
        margin: 0 auto;
        position: relative;
        right: 0;
    }

    .landing-page .section-story-overview .image-container:nth-child(2) {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .fix-image {
        margin-left: 1vw !important;
        padding-bottom: 30px !important;
    }
}

/*
    ================================
            SECCIÓN CULTURA MOCHE
    ================================
*/

.culture-block {
    padding-bottom: 20px;
    padding-top: 20px;
}

.gradient {
    background: linear-gradient(120deg, var(--bg-color-2), var(--bg-color-3));
    color: #fff;
}

@media (min-width: 768px) {
    .culture-block {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

.culture-block.website h3 {
    font-weight: 700;
}

.culture-mockup {
    margin: auto;
    margin-top: 30px;
    max-width: 380px;
}

@media (min-width: 768px) {
    .culture-mockup {
        max-width: 350px;
    }
}

@media (min-width: 992px) {
    .culture-mockup {
        margin-top: 0;
    }
}

.culture-mockup .screen {
    /* border: 1px solid #9c9c9c; */
    border-bottom: none;
    width: 320px;
    height: 210px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: #fff; */
    position: relative;
    left: 15px;
}

@media (min-width: 768px) {
    .culture-mockup .screen {
        width: 420px;
        height: 310px;
    }
}

.culture-mockup .screen .screen-content {
    /* border: 1px solid #c5c5c5; */
    background-position: 50%;
    background-size: auto;
    border-radius: 20px;
    height: 100%;
}

/*
    ================================
            SECCIÓN CLIENTES
    ================================
*/

.client-section {
    padding: 3em 0;
    position: relative;
    /* background-color: var(--bg-light);  */
}

@media (max-width: 767.98px) {
    .client-section {
        padding: 2em 0;
    }
}

.heading-section h2 {
    font-size: 25px;
    font-weight: 800;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 22px;
    }
}

#autoplay img {
    max-width: 100%;
}

#autoplay {
    position: relative;
    max-width: 85%;
    margin: 0 auto;
}

#autoplay .slick-slide {
    text-align: center;
    margin: 10px;
}

h4 {
    margin-top: 2px;
}

.slick-slide img:hover + h4 {
    opacity: 1;
}

.slick-slide h4 {
    opacity: 0;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.slick-prev,
.slick-next {
    line-height: 0;
    font-size: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    border: none;
    outline: none;
}

.slick-next {
    right: -25px;
}

.slick-prev {
    left: -25px;
}

.slick-next:after {
    content: "\f054";
    color: var(--secondary-color);
    font-size: 30px;
    font-family: FontAwesome;
}

.slick-prev:after {
    content: "\f053";
    font-size: 30px;
    font-family: FontAwesome;
    color: var(--secondary-color);
}

.w3l-footer-16 .w3l-footer-16-main {
    padding: 3em 0 1.5em;
}

/*
    =====================================
                MODAL CONTACTO
    =====================================
*/

.modal-content {
    border-radius: 0;
    width: calc(360px + 10 * ((100vw - 320px) / 680));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: transparent !important;
}

label {
    font-size: calc(
        11px + (13 - 11) * ((100vw - 360px) / (1600 - 320))
    ) !important;
    vertical-align: middle !important;
}

.signin {
    color: var(--secondary-color);
    cursor: pointer;
}

.custom-control-label span {
    position: relative;
    top: 4px;
}

.btn-contact {
    font-size: calc(
        12px + (14 - 12) * ((100vw - 360px) / (1600 - 320))
    ) !important;
    padding: calc(
        10px + (14 - 10) * ((100vw - 360px) / (1600 - 320))
    ) !important;
    background-color: var(--secondary-color) !important;
    border: 0px !important;
}

.btn-contact:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.form-group {
    margin-bottom: 1.5rem;
}

.input-contact {
    padding: 23px 7px 18px 7px;
    font-size: 15px !important;
}

.form-control-placeholder {
    position: absolute;
    top: 17px;
    transition: all 300ms;
    opacity: 0.5;
    overflow: hidden;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    position: absolute;
    top: 9px !important;
    opacity: 1;
    background-color: #fff;
    color: var(--secondary-color) !important;
    font-size: 8px !important;
}

.form-control:focus {
    border: 2px solid var(--secondary-color) !important;
    box-shadow: 2px 2px rgba(233, 226, 226, 0.8) !important;
}

#modal {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8) !important;
    border-radius: 0 !important;
    border: 0;
}

.fix-btn {
    height: 30vh;
    margin-top: -400px;
}

@media (min-width: 767.98px) {
    .fix-btn {
        margin-top: 150px;
    }
}

.video-section {
    background-color: var(--grey);
}

@media (min-width: 900px) {
    .back-moche {
        background-image: url("/assets/images/moche.png");
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

@media (max-width: 767.98px) {
    .back-moche {
        background-image: none;
    }
}

.cania-img {
    width: 10%;
}

/*
    =====================================
                PRODUCTOS
    =====================================
*/

.product-img-list {
    padding-top: 70px;
    padding-bottom: 40px;
}

.product-img-list .product-item {
    margin-bottom: 30px;
}

.product-img-list .content {
    padding-top: 30px;
}

@media (max-width: 1199px) {
    .product-img-list .content {
        margin-bottom: 30px;
    }
}

.product-img-list .type {
    float: left;
    display: block;
    margin-top: -140px;
    position: relative;
    z-index: 2;
}

.product-img-list h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}

.product-img-list .type img {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: 40px;
    height: 110px;
    line-height: 110px;
    width: 110px;
    text-align: center;
    position: relative;
    clear: both;
    padding-right: 15px;
    padding-top: 10px;
    border-radius: 0px 15px 0 0;
}

.product-img-list p {
    color: #888;
    margin-bottom: 20px;
}

.product-img-content {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 448px;
    object-fit: cover;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.product-img-content-detail {
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

/*
    =====================================
                PAGINACIÓN
    =====================================
*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-item {
    display: inline;
}

.page-item:first-child .page-link {
    margin-left: 0;
}
.pagination .nav-text {
    border: none;
    width: auto;
    height: auto;
}
.pagination .page-link {
    margin-left: 5px;
    height: 48px;
    width: 48px;
    line-height: 48px;
    padding: 0;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.1em;
}
.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #232331;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*
    =====================================
                DETALLE PRODUCTO
    =====================================
*/

.col_half {
    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
    width: 48%;
}

@media (max-width: 767.98px) {
    .col_half {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 50px !important;
    }
}

.col_last {
    margin-right: 0 !important;
    float: right;
    clear: right;
}

@media (max-width: 767.98px) {
    .col_last {
        float: none;
    }
}

.heading-block {
    margin-bottom: 20px;
}

.heading-block h2 {
    font-size: 30px;
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1c3e8d;
}

@media (max-width: 767.98px) {
    .heading-block h2 {
        font-size: 26px;
    }
    .heading-block h2 + span {
        font-size: 18px;
    }
    .heading-block ~ p:not(.lead) {
        font-size: 15px;
    }
}

.heading-block > span:not(.before-heading) {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #777;
}

.heading-block h2 + span {
    font-size: 22px;
}

.heading-block:after {
    content: "";
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444;
}

.heading-block ~ p:not(.lead) {
    font-size: 15px;
}

.fix-bug::after {
    content: "";
    border-top: none;
}

/*
    =====================================
                REVIEW PRODUCTO
    =====================================
*/

.bottommargin {
    margin-bottom: 50px !important;
}

.feature-box.fbox-right {
    padding: 0 80px 0 0;
    text-align: right;
}

.feature-box:first-child {
    margin-top: 0;
}

.feature-box.fbox-right .fbox-icon {
    left: auto;
    right: 0;
}

.feature-box .fbox-icon {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}

.feature-box h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333;
}

#content p {
    line-height: 1.8;
}

.feature-box p {
    margin: 8px 0 0 0;
    color: #999;
}

.feature-box .fbox-icon a,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
}

.feature-box .fbox-icon i {
    font-style: normal;
    font-size: 28px;
    text-align: center;
    line-height: 64px;
}

.feature-box .fbox-icon i,
.feature-box .fbox-icon img {
    border-radius: 50%;
    background-color: var(--bg-color-3);
}

.icon-line-heart:before {
    content: "\e024";
}

.center {
    text-align: center;
}

.feature-box .fbox-icon {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}

.feature-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 80px;
}

/*
    =====================================
                STORY-PRODUCTS
    =====================================
*/

.story-group {
    background-color: var(--grey);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.story-link {
    /* scroll-snap-align: center; */
    border-radius: 12px;
    margin: 12px;
    border: 1px solid #1c3e8d;
    color: #1c3e8d;
}

.story-link:hover {
    color: white;
    background: #1c3e8d;
}

.story-link {
    display: block;
    width: auto !important;
    min-width: 196px !important;
}

/*
    =====================================
                CONTACTO
    =====================================
*/

#contact {
    width: 100%;
    height: auto;
    background-color: var(--bg-light);
    overflow: hidden;
    padding-bottom: 100px;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px var(--font-app), sans-serif;
    letter-spacing: 6px;
    color: var(--heading-color);
}

.contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
    max-width: 1000px;
}

.form-horizontal {
    float: left;
    max-width: 400px;
    font-family: var(--font-app);
    font-weight: 400;
}

.form-control,
textarea {
    /* max-width: 400px; */
    background-color: var(--bg-color);
    /* color: var(--bg-color);
     */
    color: #02407a;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.button {
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px var(--font-app), sans-serif;
    letter-spacing: 2px;
}

.button:hover {
    transform: translate3d(0px, -29px, 0px);
}

.direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
}

.contact-list {
    list-style-type: none;
    text-align: center;
    color: #1c3e8d !important;
}

.list-item {
    line-height: 4;
    justify-content: center;
    /*color: #aaa;*/
}

.text-color-contact {
    color: var(--primary-color);
}

.contact-text {
    font: 300 15px "Vollkorn", sans-serif;
    letter-spacing: 1px;
    /*color: #bbb;*/
}

.place {
    margin-left: 8px;
}

.phone {
    margin-left: 8px;
}

.gmail {
    margin-left: 8px;
}

@media (min-width: 768px) {
    .place {
        margin-left: 32px;
    }

    .phone {
        margin-left: 32px;
    }

    .gmail {
        margin-left: 32px;
    }
}

.contact-text a {
    /*color: #bbb;*/
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: var(--bg-color-2);
    text-decoration: none;
}

.social-media-list {
    position: relative;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: var(--secondary-color);
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: var(--secondary-color);
    background: rgb(10 191 83 / 8%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px var(--bg-color);
    transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
    background-color: var(--bg-color);
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: var(--secondary-color);
}

hr {
    border-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 760px) {
    .direct-contact-container,
    .form-horizontal {
        float: none;
        margin: 10px auto;
    }
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
        margin: 0 auto;
    }
    .form-control,
    textarea {
        max-width: 340px;
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 320px;
    }
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 95%;
    }
}

.btn-primary {
    background: var(--blue);
}

/*
    =====================================
                NOSOTROS
    =====================================
*/

.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: var(--heading-color);
}
.aboutus-title::after {
    background: var(--secondary-color) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: var(--text-secondary);
    font-size: 1rem;
    line-height: 22px;
    margin: 0 0 35px;
}

a.aboutus-more:hover,
a.aboutus-more:active {
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    color: var(--secondary-color);
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.aboutus-more:hover {
    background-color: var(--secondary-color);
    color: var(--primary-light);
}

.feature .feature-box .iconset {
    background: transparent none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
    fill: var(--secondary-color);
}
.feature .feature-box .iconset::after {
    background: var(--secondary-color) none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
    margin-top: -5px;
}

.feature .feature-box .feature-content h4 {
    color: var(--footer-color);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 100%;
}
.feature .feature-box .feature-content h4 {
    color: var(--footer-color);
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 1rem;
    line-height: 22px;
}
.icon {
    padding: 0px;
    font-size: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    color: var(--secondary-color);
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.title-color {
    color: var(--heading-color) !important;
}

.list-about-us {
    list-style-type: none;
}

.list-about-us i {
    color: var(--secondary-color) !important;
}

@media (max-width: 768px) {
    .feature-box {
        padding: 0;
    }
}

.footer-codecix {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

/*
================================
================================
================================
================================
================================
================================
================================
*/
/* NUEVOS CAMBIOS */
.bg-products {
    background-color: #dce3ff !important;
    position: relative;
}

.bg-adornos-damasco {
    position: relative;
    background-color: #fae7b6;
}
.bg-adornos-cogollito {
    position: relative;
    background-color: #d9f8e3;
}
.bg-adornos-manzanilla {
    position: relative;
    background-color: #eaf7b7;
}
.bg-adornos-arandano {
    position: relative;
    background-color: #ebd7fb;
}
.bg-adornos-uva-italia {
    position: relative;
    background-color: #ccfda5;
}
.bg-adornos-mosto-verde {
    position: relative;
    background-color: #c0fab6;
}
.bg-adornos-hierba-luisa {
    position: relative;
    background-color: #f1e7ce;
}

.bg-adornos {
    position: relative;
    background-color: #c0fab6;
}

.bg-adornos-1 {
    background: url("../assets/images/backgrounds/cania-1.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    height: 180px;
}

.bg-adornos-2 {
    background: url("../assets/images/backgrounds/cania-2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 220px;
}

.content-card {
    background: #fafafa;
}

.producto-imagen {
    max-width: 84%;
    max-height: 84%;
}

.texto-principal {
    color: #1c3e8d;
}

.modal-content {
    background-color: #dce3ff !important;
    border: 20px solid #013565 !important;
}

.modal-content-damasco {
    background-color: #fae7b6 !important;
    border: 20px solid #f6c547 !important;
}
.modal-content-mosto-verde {
    background-color: #c0fab6 !important;
    border: 20px solid #5ff647 !important;
}
.modal-content-uva-italia {
    background-color: #ccfda5 !important;
    border: 20px solid #99ff49 !important;
}
.modal-content-arandano {
    background-color: #ebd7fb !important;
    border: 20px solid #cb97d3 !important;
}
.modal-content-hierba-luisa {
    background-color: #eaf7b7 !important;
    border: 20px solid #ccf528 !important;
}
.modal-content-cogollito {
    background-color: #d9f8e3 !important;
    border: 20px solid #6ff29c !important;
}
.modal-content-manzanilla {
    background-color: #eaf7b7 !important;
    border: 20px solid #ccf528 !important;
}

.modal-product {
    position: relative;
}

.modal-header {
    border: none !important;
}

.icon-modal {
    background: url("../assets/images/backgrounds/cania-play-2.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17%;
    height: 20%;
}

.adorno-modal {
    height: 84px;
}

.border-product-damasco {
    border-left: 10px solid #f6c547;
}
.border-product-mosto-verde {
    border-left: 10px solid #5ff647;
}
.border-product-uva-italia {
    border-left: 10px solid #99ff49;
}
.border-product-arandano {
    border-left: 10px solid #cb97d3;
}
.border-product-hierba-luisa {
    border-left: 10px solid #d4b870;
}
.border-product-manzanilla {
    border-left: 10px solid #ccf528;
}
.border-product-cogollito {
    border-left: 10px solid #6ff29c;
}

.border-product {
    border-left: 10px solid #5ff647;
}

.call-section {
    background-color: var(--bg-light);
    padding-top: 150px;
}

.imagen-producto{
    background-image: url('/assets/images/background_product_detail.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media (max-width: 768px) {
    .border-product {
        border: none;
    }
    .imagen-producto {
        height: 480px;
    }
    .icon-modal {
        display: none;
    }
}
/*@media (min-width: 768px) {*/
/*    .altura-seccion-producto {*/
/*        height: 91vh;*/
/*    }*/
/*}*/

.form-control {
    border: 2px solid #013565;
    border-radius: 16px;
}

/* BANNER */

@media (min-width: 576px) {
    .w3l-banner {
        background: url(../assets/images/backgrounds/banner_main_sm.png) no-repeat
            center;
            width: 100%;
        height: 70vh;
        background-size: cover;
        object-fit: cover;
        object-position: center center;
    }
}
@media (min-width: 960px) {
    .w3l-banner {
        background: url(../assets/images/backgrounds/banner_main_md.png) no-repeat
            center;
            width: 100%;
        height: 80vh;
        background-size: cover;
    }
}
@media (min-width: 1280px) {
    .w3l-banner {
        background: url(../assets/images/backgrounds/banner_main_lg.png) no-repeat
            center;
        width: 100%;
        height: 100vh;
        background-size: cover;
        object-fit: cover;
        object-position: center center;
    }
}

body {
    overflow-x: hidden;
}
